Package: com.apollo.reborn
Name: Apollo-Reborn
Version: 2.14.0-33
Architecture: iphoneos-arm
Description: Apollo for Reddit tweak with in-app configurable API keys
Maintainer: Apollo Reborn team
Author: Apollo Reborn team
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
